:root
{
   --clr-primary-blue: hsl(224, 100%, 21%);
   --clr-primary-red: hsl(0, 89%, 28%);
   --clr-accent-red: hsl(2, 82%, 41%);
   --clr-light-red: hsl(2, 32%, 84%);
   --clr-neutral-offwhite: hsl(0, 0%, 91%);

   --ff-heading: 'Be Vietnam Pro', sans-serif;
   --ff-cursive: 'Caveat', cursive;
   --ff-body: 'Source Sans Pro', sans-serif;

   --fw-light: 300;
   --fw-regular: 400;
   --fw-semi-bold: 500;
   --fw-bold-body: 600;
   --fw-bold-heading: 700;
   --fw-extra-bold: 900;

   --fs-300: 1rem;
   --fs-400: 1.125rem;
   --fs-500: 1.25rem;
   --fs-600: 1.5rem;
   --fs-700: 2rem;
   --fs-900: 2.5rem;
}

*, *::before, *::after 
{
  box-sizing: border-box;
}
  
* 
{
  margin: 0;
}

html
{
  height: 100%;
  overflow-x: hidden;
}
 
body 
{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
 
  img, picture, video, canvas, svg 
{
  display: block;
  max-width: 100%;
}
 
input, button, textarea, select 
{
  font: inherit;
  border: none;
  outline: none;
}
 
p, h1, h2, h3, h4, h5, h6 
{
  overflow-wrap: break-word;
}
h1
{
    font-family: var(--ff-heading);
}
#root, #__next 
{
  isolation: isolate;
}
a
{
  text-decoration: none;
}
button
{
  font-weight: var(--fw-bold-heading);
  font-size: var(--fs-500);
  font-family: var(--ff-body);
  cursor: pointer;
}
main
{
  margin-top: 70px;
}
main > * + *
{
  margin-top: 10rem;
}
.hero 
{
  background-color: var(--clr-primary-blue);
  color: white;
  padding: 2em 1em;
  gap: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero > h1
{
  font-size: var(--fs-700);
  font-weight: var(--fw-bold-heading);
  text-transform: uppercase;
}
.hero-search-wrap
{
  width: 80%;
  max-width: 600px;
}
.hero-search
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .25rem;
  border-radius: 25px;
  padding: 1.125em .75em;
  padding-right: .25em;
  background: white;
  height: 30px;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
}

.hero-tabs
{
  font-family: var(--ff-body);
  text-align: center;
  display: flex;
  gap: 1em;
}

.hero-tab
{
  width: fit-content;
  max-width: 11rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-img
{
  width: 3rem;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
}
.hero-tab p
{
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
}
.container
{
  display: none;
  position: relative;
  align-items: center;
  padding: 2rem;
  max-width: 100%;
  justify-content: center;
  gap: 10rem;
}
.container > *
{
  flex-basis: 100%;
}
.three-tabs
{
  margin-top: -2rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--ff-body);
  gap: 2rem;
}
.three-tabs > *
{
  flex-basis: 100%;
  
}

.tab
{
  border: 1px solid black;
}

.tab:first-child
{
  margin-top: 4rem;
}
.tab:nth-child(2)
{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tab:last-child
{

  margin-bottom: 4rem;
}

.tab-text
{
  padding: .5rem;
  text-align: justify;
}
.tab h2
{
  border-bottom: 1px solid black;
  font-family: var(--ff-heading);
  font-size: var(--fs-600);
  text-align: center;
}

.row 
{
  display: flex;
  flex-direction: column;
  width: min(70%, 50rem);
}
.slider-container
{

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: .5rem; 
}
.slider
{   
    --items-per-screen: 1;
    --slider-index: 0;
    max-width: 125%;
    display: flex; 
    transform: translateX(calc(var(--slider-index) * -100%));
}
.card-container
{

  padding-inline: max(5rem, 1vh);
  font-size: 2.5rem;
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  z-index: 1;
  transition: transform 0.1s ease-in-out;
}
.card
{
    background-image: url('../imgs/mountain.jpg');
    background-size: 100%;
    max-width: 100%;
    font-size: var(--fs-400);
    padding: .05rem;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 16 / 9; 
    border-radius: .5rem; 
    isolation: isolate;
    text-align: center;
}
.card p, .card h1
{
  text-align: center;
  width: 80%;
  margin: auto;
}
.card::before
{
  content: '';
  background-color: var(--clr-accent-red);
  border-radius: .5rem; 
  z-index: -1;
  position: absolute;
  inset: 0;
  opacity: 0.2;
}
.handle
{
    z-index: 9;
    flex-grow: 1;
    background-color: transparent;
    width: 2rem;
    cursor: pointer;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
.handle.right
{
  right: 0;
}
.handle.left
{
  left: 0;
}
.arrow
{
    width: 35px;
    transition: transform 0.1s ease-in-out;
}


.handle:hover .arrow,
.handle:focus .arrow
{
    transform: scale(1.1);
}

.progress-bar
{
 
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
.progress-item
 {
    min-width: 1rem;
    aspect-ratio: 1;
    background-color: var(--clr-light-red);
    border-radius: 1rem;
}
  
.progress-item.active {
    background-color: var(--clr-accent-red);
}
.about
{
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-bottom: 10rem;
}
.mission
{
    width: 50%;
    margin-top: 60px;
    /*
    background: url('../imgs/school-lg.jpg') no-repeat center center fixed;
    background-color: var(--clr-primary-blue);
    */
    padding-block: 1.25rem;
    overflow: hidden;
    position: relative;    
    isolation: isolate;
}

.mission > h1
{
    background-color: var(--clr-neutral-offwhite);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding-block: 1rem;
    text-align: center;
    font-family: var(--ff-cursive);
    font-size: var(--fs-900);
}

.mission > p
{
    padding: 1rem;
    text-align: justify;
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}
.partners
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.partner-card
{
  background-color: var(--clr-primary-blue);
  border-radius: 20rem;
  width: 10rem;
  aspect-ratio: 1;
  
}
.options
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.options .title
{
  background-color: var(--clr-neutral-offwhite);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-block: 1rem;
    width: 50%;
    margin-left: auto;
    text-align: center;
    font-family: var(--ff-cursive);
    font-size: var(--fs-900);
}
#gc
{
  padding: 4rem;
}
#highedu
{
  
  padding: 4rem 1.5rem;
}
.img-slider
{
  overflow: hidden;
  width: 200vw;
  
}

.img-slider-content
{
  display: flex;
}
.button-section
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  white-space: nowrap;
  animation: scrolling 10s linear infinite;
}
.slider-btn
{
  aspect-ratio: 1;
  width: 100%;
  background: url('../imgs/nyu-logo.png') no-repeat;
  background-size: 100%;
  background-color: transparent;
  position: relative; 
}
.slider-btn::before
{
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.5;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.slider-btn:hover::before
{
  background-color: red;
}
.img-slider-content > img
{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@keyframes scrolling
{
    0% 
     {
        transform: translateX(0);
     }
    100%
    {
      transform: translateX(-100vw);
    }
}

@media screen and (max-width: 1600px)
{

.container
{
    flex-direction: column;
}

.tab:first-child
{
  margin-top: 2rem;
}
.tab:nth-child(2)
{
  margin-top: 2rem;
  margin-bottom: 0;
}
.tab:last-child
{
  margin-top: 2rem;
  margin-bottom: 0;
}
 
}
@media screen and (max-width: 1024px) {
  
   nav ul
   {
     gap: 2rem;
   }
  .search-wrap
  {
    display: none;
  }
  .container
  { 
    margin-top: 5rem;
   
  }
  .slider
  {
    --items-per-screen: 1;
  }
  .card p
  {
    text-align: justify;
    max-width: 50%;
  }
  .card h1
  {
    max-width: 50%;
  }
  .mission > p
  {
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 767px)
{
  .container
  {
    margin: auto;
  }
  .three-tabs
  {
    flex-direction: column;
  }
  .row
  {
    width: min(100%, 40rem);
    margin: auto;
  }
  .card 
  {
   justify-content: center;
  }
  .card p
  {
    display: none;
  }
  .about
  {
    flex-direction: column;
    gap: 2rem;
  }
  .mission
  {
    width: 100%;
  }
  .mission .title
  {
    border-radius: 0;
  }
  .about .partners
  {
    flex-direction: row;
  }
  .mission > p
  {
    padding: .5rem;
  }
  .options .title
  {
    width: 100%;
    border-radius: 0;
  }
}