:root
{
   --clr-primary-blue: hsl(224, 100%, 21%);
   --clr-primary-red: hsl(0, 89%, 28%);
   --clr-lightblue: hsl(221, 98%, 65%);
   --clr-accent-red: hsl(2, 82%, 41%);
   --clr-neutral-offwhite: hsl(0, 0%, 91%);
   --clr-dark-gray: hsl(0, 0%, 25%);
   --ff-heading: 'Be Vietnam Pro', sans-serif;
   --ff-cursive: 'Caveat', cursive;
   --ff-body: 'Source Sans Pro', sans-serif;

   --fw-light: 300;
   --fw-regular: 400;
   --fw-semi-bold: 500;
   --fw-bold-body: 600;
   --fw-bold-heading: 700;
   --fw-extra-bold: 900;

   --fs-300: 1rem;
   --fs-400: 1.125rem;
   --fs-500: 1.25rem;
   --fs-600: 1.5rem;
   --fs-700: 2rem;
   --fs-900: 2.5rem;
}

@media (orientation: portrait)
{
   :root
   {
    --fs-300: .75rem;
   --fs-400: 1rem;
   --fs-500: 1.125rem;
   --fs-600: 1.25rem;
   --fs-700: 1.75rem;
   --fs-900: 2rem;
   }

}

*, *::before, *::after 
{
  box-sizing: border-box;
}
  
* 
{
  margin: 0;
}

html
{
 scroll-behavior: smooth;
 scroll-padding-top: 10%;
}
html
{
  height: 100%;
}
 
body 
{
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}
 
  img, picture, video, canvas, svg 
{
  display: block;
  max-width: 100%;
}
 
input, button, textarea, select 
{
  font: inherit;
  border: none;
  outline: none;
}
 
p, h1, h2, h3, h4, h5, h6 
{
  overflow-wrap: break-word;
}
h1
{
    font-family: var(--ff-heading);
}
p
{
  font-family: var(--ff-body);
}
#root, #__next 
{
  isolation: isolate;
}
a
{
  text-decoration: none;
  color: inherit;
}
button
{
  font-weight: var(--fw-bold-heading);
  font-size: var(--fs-500);
  font-family: var(--ff-body);
  cursor: pointer;
}
ul[no-style]
{
  list-style: none;
}

.main-heading
{
    font-family: var(--ff-heading);
    display: flex;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-heading h1
{
    font-size: var(--fs-900);
}
.flag
{
    border: 2px solid black;
    padding: 2em 3em;
}

.cost-content
{
    font-family: var(--ff-body);
    font-size: var(--fs-500);
    text-align: center;
    border: 2px solid var(--clr-accent-red);
    border-radius: 20rem;
    padding: 5em 2.5em;
    width: fit-content;
    margin-inline: auto;
}
.cost-content > p + p
{
    margin-top: 2rem;
}
