:root
{
   --clr-primary-blue: hsl(224, 100%, 21%);
   --clr-primary-red: hsl(0, 89%, 28%);
   --clr-secondary-blue: hsl(224, 59%, 41%);
   --clr-lightblue: hsl(221, 98%, 65%);
   --clr-accent-red: hsl(2, 82%, 41%);
   --clr-accent-green: hsl(143, 97%, 38%);
   --clr-neutral-offwhite: hsl(0, 0%, 91%);
   --clr-neutral-darkgray: hsl(220, 4%, 31%);
   --clr-dark-gray: hsl(0, 0%, 25%);

   --ff-heading: 'Be Vietnam Pro', sans-serif;
   --ff-cursive: 'Caveat', cursive;
   --ff-body: 'Source Sans Pro', sans-serif;

   --fw-light: 300;
   --fw-regular: 400;
   --fw-semi-bold: 500;
   --fw-bold-body: 600;
   --fw-bold-heading: 700;
   --fw-extra-bold: 900;

   --fs-300: 1rem;
   --fs-400: 1.125rem;
   --fs-500: 1.25rem;
   --fs-600: 1.5rem;
   --fs-700: 2rem;
   --fs-900: 2.5rem;
}

*, *::before, *::after 
{
  box-sizing: border-box;
}
  
* 
{
  margin: 0;
}

html
{
 scroll-behavior: smooth;
 scroll-padding-top: 10%;
}
html
{
  height: 100%;
}
 
body 
{
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}
 
  img, picture, video, canvas, svg 
{
  display: block;
  max-width: 100%;
}
 
input, button, textarea, select 
{
  font: inherit;
  border: none;
  outline: none;
}
 
p, h1, h2, h3, h4, h5, h6 
{
  overflow-wrap: break-word;
}
h1
{
    font-family: var(--ff-heading);
}
p
{
  font-family: var(--ff-body);
}
#root, #__next 
{
  isolation: isolate;
}
a
{
  text-decoration: none;
  color: inherit;
}
button
{
  font-weight: var(--fw-bold-heading);
  font-size: var(--fs-500);
  font-family: var(--ff-body);
  cursor: pointer;
}
ul[no-style]
{
  list-style: none;
}

main
{
    
    margin-top: 70px;
}
main > * + *
{
    margin-top: 1.5rem;
}
.hero
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 1em;
  background-color: var(--clr-secondary-blue);
  position: relative;
  overflow: hidden;
}
.hero::before
{
   content: '';
   position: absolute;
   background-color: var(--clr-lightblue);
   z-index: 0;
   clip-path: ellipse(50% 40% at 50% 50%);
   width: 100%;
   aspect-ratio: 1;
   top: -125%;
   right: -40%;  
}
.hero h1, .hero-input-wrap
{
  z-index: 1;
}
.hero h1
{
  font-size: var(--fs-700);
  color: white;
}
.hero > *
{
   flex: 1 1 100%;
}
.hero-input-wrap
{
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  width: 80%;
}
.hero-input-wrap > *
{
  padding-block: .35em;
}
.hero-input
{
  flex: 1 1 80%;
  padding-inline-start: .5em;
}
.hero-submit
{
  background-color: var(--clr-accent-green);
  color: white;
  font-family: var(--ff-body);
  font-weight: var(--fw-bold-body);
  cursor: pointer;
  padding-inline: 2em;
}
.calc-container
{
    padding-inline: 1rem;
    border-radius: 5px;
    padding-block: 1rem;
    margin-inline: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: white;
}

.calc-container::before
{
  content: '';
  position: absolute;
  inset: 45% 0 40% 0;
  z-index: -3;
  background-color: var(--clr-primary-blue);
}
.calc-container > *
{
  font-family: var(--ff-body);
}
.calc-container > *:first-child
{
    
     flex: 0 1 67%;
}
.calc-container > *:nth-child(2)
{
    
  flex: 1 1 25%;
}
.grid
{
    display: grid;
}
.general-q
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.general-q > h1
{
  border-bottom: 2px solid gray;
  padding-bottom: .5em;
  font-family: var(--ff-body);
  
}
.calc-options
{
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.option-name
{
  font-size: var(--fs-400);
}
.radio-option + .radio-option
{
  margin-top: .125em;
}
.radio-option
{
  position: relative;
  padding-left: 20px;
}
.radio-option > *
{
  cursor: pointer;
}
.radio-option label
{
  font-size: var(--fs-300);
}
.radio-option input[type="radio"]
{
  display: none;
}
.radio-custom
{
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--clr-lightblue);
  position: absolute;
  left: 0;
  top: 5px;
}
.radio-custom::before
{
  content: '';
  display: none;
  width: .65em;
  aspect-ratio: 1;
  background-color: var(--clr-lightblue);
  position: absolute;
  left: .05em;
  top: .05em;
  border-radius: 50%;
}
.radio-option[aria-checked="true"] > .radio-custom::before
{
  display: block;
}
.countries
{
    --grid-repeat: 3;
    grid-template-columns: repeat(var(--grid-repeat), 1fr);
    gap: 1rem;
    margin-bottom: 1em;
}
.country-list h1
{
    text-align: center;
    font-size: var(--fs-600);
    margin-bottom: .75em;
    width: 40%;
    margin-inline: auto;
}
.country-list
{
    overflow: auto;
    display: flex;
    gap: 5em;
    padding: 1.5em;
}
.country-list h2
{
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold-body);
    margin-bottom: 1em;
}
.country h3
{
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    color: black;
}
.country
{
    -webkit-box-shadow: 0px 5px 20px 0px #B5B5B5;
    box-shadow: 0px 5px 20px 0px #B5B5B5;
    padding-block: .25em; 
    border: 1px solid var(--clr-neutral-offwhite);
    padding-inline: .5em 2em;
    border-radius: .125rem;
    width: 100%;
}
.country.active, .country:hover
{
   border: 1px solid var(--clr-lightblue);
   -webkit-box-shadow: 0px 5px 20px 0px var(--clr-lightblue);
   box-shadow: 0px 0px 50px 15px var(--clr-lightblue / 0.5);

}
.country.active > h3, .country:hover > h3
{
    color: var(--clr-lightblue);
}
.costs-section
{
  padding-block: 1.25em 1.5em;
  padding-inline: 1.5em;
  height: fit-content;
  background: -webkit-linear-gradient(to bottom, #17e7e1, #0088f1); 
  background: linear-gradient(to bottom, #17e7e1, #0088f1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.costs-content
{
  box-shadow: 3px 3px 25px 2px #525252;
  padding-block: 2em 8em;
  padding-inline: 1em;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cost-heading
{
  text-align: center;
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
}
.cost-amount
{
  text-align: center;
  font-size: var(--fs-900);
  color: var(--clr-accent-green);
  margin-bottom: 1em;
}
.cost-details
{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.cost-line
{
  display: flex;
  justify-content: space-between;
}
.cost-line > h2
{
  font-size: var(--fs-500);
}
.total-cost
{
  border-bottom: 1px solid var(--clr-neutral-darkgray);
  padding-block: .5em;
}
.calculator-options
{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    -webkit-box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.5);
    padding: 10em 2em;
}
.submit
{
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: var(--clr-primary-blue);
  color: white;
  font-weight: var(--fw-bold-body);
  font-size: var(--fs-500);
  padding: .25em .75em;
  border-radius: 2em;
}
.range
{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 2.5em;
    max-width: 750px;
}

.range-label
{
    text-align: center;
    font-size: var(--fs-500);
}

.range-value
{
     font-size: var(--fs-600);
     margin-right: 2rem;
}
#cost-range
{
    border: 1px solid lightgray;
    border-radius: 2rem;
    width: 100%;
    max-width: 150px;
    height: .75rem;
}
.currency
{
  display: flex;
}
select
{
    border: 1px solid black;
    font-size: var(--fs-300);
    padding: .25em .5em;
}
#cost-range::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    aspect-ratio: 1;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
}

#cost-range::-moz-range-thumb
{
    appearance: none;
    width: 1.25rem;
    aspect-ratio: 1;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox-container
{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.checkbox
{
  width: 1.125rem;
  accent-color: var(--clr-primary-blue);
  aspect-ratio: 1;
}
#dorms-label
{
  font-size: var(--fs-400);
}
.tip
{
    font-size: var(--fs-400);
    font-weight: var(--fw-light);
    font-style: italic;
    font-family: var(--ff-heading);
    text-align: center;
}

@media  (max-width: 1575px) 
{
  .calc-container
  {
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin-inline: auto;
  }
  
  .calculator-options
  {
    padding-inline: 5em;
  }
}
@media  (max-width: 767px) 
{
  
}
@media (orientation: portrait)
{
   :root
   {
    --fs-300: .75rem;
   --fs-400: 1rem;
   --fs-500: 1.125rem;
   --fs-600: 1.25rem;
   --fs-700: 1.75rem;
   --fs-900: 2rem;
   }
  
   .countries
   {
     --grid-repeat: 4;
   }
   .country
   {
     padding-inline: .5em;
   }
}