:root
{
   --clr-primary-blue: hsl(224, 100%, 21%);
   --clr-primary-red: hsl(0, 89%, 28%);
   --clr-accent-red: hsl(2, 82%, 41%);
   --clr-light-red: hsl(2, 32%, 84%);
   --clr-neutral-offwhite: hsl(0, 0%, 91%);

   --ff-heading: 'Montserrat', sans-serif;
   --ff-cursive: 'Caveat', cursive;
   --ff-body: 'Source Sans Pro', sans-serif;

   --fw-light: 300;
   --fw-regular: 400;
   --fw-semi-bold: 500;
   --fw-bold-body: 600;
   --fw-bold-heading: 700;
   --fw-extra-bold: 900;

   --fs-300: 1rem;
   --fs-400: 1.125rem;
   --fs-500: 1.25rem;
   --fs-600: 1.5rem;
   --fs-700: 2rem;
   --fs-900: 2.5rem;
}

*, *::before, *::after 
{
  box-sizing: border-box;
}
  
* 
{
  margin: 0;
}

html
{
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
 
body 
{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
 
  img, picture, video, canvas, svg 
{
  display: block;
  max-width: 100%;
}
 
input, button, textarea, select 
{
  font: inherit;
  border: none;
  outline: none;
}
 
p, h1, h2, h3, h4, h5, h6 
{
  overflow-wrap: break-word;
}
h1
{
    font-family: var(--ff-heading);
}
#root, #__next 
{
  isolation: isolate;
}
a
{
  text-decoration: none;
}
button
{
  font-weight: var(--fw-bold-heading);
  font-size: var(--fs-500);
  font-family: var(--ff-body);
  cursor: pointer;
}
.primary-header
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5%;
    padding: .5rem 2rem; 
}
.hero > *
{
  z-index: 2;
}

.nav-scrolled
{
  background-color: white;
  border-bottom: 1px solid var(--clr-neutral-offwhite);
}
.nav-scrolled li a
{
  color: var(--clr-primary-blue);
}
.brand
{
  display: flex; 
}
#brand-link
{
    font-size: var(--fs-700);
    font-weight: var(--fw-bold-heading);
    font-family: var(--ff-heading);
    color: white;
    
}
.nav-scrolled #brand-link
{
  color: var(--clr-primary-blue);
}
#brand-link::first-letter
{
  font-size: 3.5rem;
  color: var(--clr-accent-red);
}
header .socials
{
    background-color: var(--clr-primary-blue);
    display: flex;
    justify-content: space-evenly;
}

.mobile-nav-toggle
{
  display: none;
}
.primary-nav
{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding-inline-end: 2rem;
    z-index: 99;
}
nav ul
{
    display: flex;
    list-style: none;
    gap: 5rem;
}
nav li 
{
  padding-block:  .5rem;
  position: relative;
}

nav li::before
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3px;
    width: 100%;
    background-color: var(--clr-primary-red);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
nav li:hover::before,
nav li:focus::before,
nav li.active::before
{
   transform: scaleX(1);
}
.primary-nav a
{
  color: white;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold-body);
  font-family: var(--ff-heading);
  transition: color 0.15s ease-in-out;
}
nav li:hover a,
nav li.active a
{
  color: var(--clr-accent-red);
}
.popup
{
   top: 0;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   z-index: 99;
   height: 100%;
   display: none;
}
.popup-form
{
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--clr-neutral-offwhite);
    width: fit-content;
    padding: 5rem;
    gap: 2rem;
}

.popup-form > input
{
   border: 1px solid lightgray;
   outline: none;
   border-radius: 5px;
   padding: .25em .5em;
   font-size: var(--fs-500);
}
.popup-form > textarea
{
  border: 1px solid lightgray;
  outline: none;
  border-radius: 5px;
  padding: .25em .5em;
  padding-bottom: 2em;
  font-size: var(--fs-500);
  font-family: var(--ff-body);
}

.popup-form > .submit-form
{
    margin-top: 10px;
    font-size: var(--fs-500);
    width: fit-content;
    background-color: var(--clr-primary-blue);
    padding: .25em 1em;
    color: white;
    border: none;
    border-radius: .75em;
    cursor: pointer;
}
.close
{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--clr-primary-blue);
    width: 30px;
    aspect-ratio: 1;
    border-radius: 1.5rem;
}

main > * + *
{
  margin-top: 10rem;
}
.hero 
{
  background: url('../imgs/hero-img.png') no-repeat ;
  background-size: 100% 100%;
  color: white;
  height: 100vh;
  padding: 20em;
  gap: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
 
}
.hero::before
{
   content: '';
   position: absolute;
   inset: 0;
   background-color: black;
   opacity: 0.4;
   z-index: 1;
}
.hero-text
{
 
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  bottom: 25%;
  left: 5%;
}
.hero-text > h1
{
  font-size: 4rem;
  font-weight: var(--fw-regular);
   text-decoration: underline;
}
.hero-text > h2
{
  font-family: var(--ff-body);
  font-size: var(--fs-900);
}
.results-div
{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    max-width: 600px;
}
.results-display
{
    position: absolute;
    padding-top: 50px;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.5rem;
}
.results-display a
{
    
    color: black;
    border-bottom: 1px solid black;
    border-top: none;
    padding: .5rem;
    background-color: white;
    font-size: var(--fs-300);
    font-family: var(--ff-body);
    
}

.results-display >  a:last-child
{
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-wrap
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .25rem;
  border-radius: 1.25rem;
  padding: 1.125em .75em;
  padding-right: 0;
  background: white;
  height: 50px;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  z-index: 2;
  box-shadow:  0px 8px 23px 2px rgba(0,0,0,0.5);
}
#search
{
  width: 100%;
}
.search-btn
{
    background-color: var(--clr-primary-red);
    background-image: url('../imgs/icons8-search-30.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 1.25rem;
    width: 3em;
    aspect-ratio: 1.6;
    padding-inline: 2em;
    cursor: pointer;
}


.about
{
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-bottom: 10rem;
}
.mission
{
    width: 50%;
    margin-top: 60px;
    /*
    background: url('../imgs/school-lg.jpg') no-repeat center center fixed;
    background-color: var(--clr-primary-blue);
    */
    padding-block: 1.25rem;
    overflow: hidden;
    position: relative;    
    isolation: isolate;
}

.mission > h1
{
    background-color: var(--clr-neutral-offwhite);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding-block: 1rem;
    text-align: center;
    font-family: var(--ff-cursive);
    font-size: var(--fs-900);
}

.mission > p
{
    padding: 1rem;
    text-align: justify;
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}
.partners
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.partner-card
{
  background-color: var(--clr-primary-blue);
  border-radius: 20rem;
  width: 10rem;
  aspect-ratio: 1;
  
}
.options
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.options .title
{
  background-color: var(--clr-neutral-offwhite);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-block: 1rem;
    width: 50%;
    margin-left: auto;
    text-align: center;
    font-family: var(--ff-cursive);
    font-size: var(--fs-900);
}

.socials-icon
{
    width: 1.5rem;
    aspect-ratio: 1;
}
footer
{

  display: flex;
  position: relative;
  align-items: center;
  margin-top: auto;
  flex-wrap: wrap;
  gap: var(--gap, 5rem);
  padding: 5rem 2rem;
  font-size: var(--fs-400);
  justify-content: space-evenly;
  background-color: var(--clr-primary-blue);
  color: white;
  width: 100%;

  font-family: var(--ff-body);

  z-index: 95;
}
footer > *
{
  flex: 1 1 33%;
}
footer > section
{
     align-items: center;
}
.up-arrow
{
  position: absolute;
  display: flex;
  top: -5%;
  align-items: center;
  justify-content: center;  
  transform: rotate(-90deg);
  font-size: var(--fs-700);
  font-weight: var(--fw-extra-bold);
  color: black;
  background-color: white;
  width: fit-content;
  aspect-ratio: 1;
  padding-bottom: .5rem;
  padding-inline: 1.5rem;
  padding-top: 0;
  border-radius: 10rem;
  border: 1px solid black;

}
.contacts, footer .partners
{
  margin-top: 5rem;
}
footer .socials
{

  background: transparent;
  display: flex;
  gap: .5rem;
  
}
footer a
{
  color: white;
}
.partners ul
{
  display: flex;
  flex-direction: column;
}
.conditions
{
  gap: 1rem;
}
.conditions ul
{
  gap: 2rem;
}

.copyright
{
  font-size: 1rem;
  font-weight: var(--fw-light);
  text-align: center;
}
@keyframes scrolling
{
    0% 
     {
        transform: translateX(0);
     }
    100%
    {
      transform: translateX(-100vw);
    }
}

@media screen and (max-width: 1600px)
{

.container
{
    flex-direction: column;
}

.tab:first-child
{
  margin-top: 2rem;
}
.tab:nth-child(2)
{
  margin-top: 2rem;
  margin-bottom: 0;
}
.tab:last-child
{
  margin-top: 2rem;
  margin-bottom: 0;
}
 
}
@media screen and (max-width: 1024px) {
  
   nav ul
   {
     gap: 2rem;
   }
  .search-wrap
  {
    display: none;
  }
  .container
  { 
    margin-top: 5rem;
   
  }
  .slider
  {
    --items-per-screen: 1;
  }
  .card p
  {
    text-align: justify;
    max-width: 50%;
  }
  .card h1
  {
    max-width: 50%;
  }
  .mission > p
  {
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 767px)
{
 
  .mobile-nav-toggle
  {
     border: none;
     position: absolute;
     display: flex;
     flex-direction: column;
     gap: 6px;
     padding: .25rem;
     top: 1rem;
     right: .5rem;
     z-index: 999;
     background-color: transparent;
  }
  nav li
  {
    text-align: center;
  }
  .mobile-nav-toggle[aria-expanded="true"] 
  {
    position: fixed;
     
  }
  .line
  {
    width: 1.5rem;
    height: 3px;
    background-color: var(--clr-neutral-offwhite);
    transition: all 150ms ease-in-out;
  }
  
  .mobile-nav-toggle[aria-expanded="true"] .line:nth-child(1)
  {
     transform: translateY(9px) rotate(45deg);
  }
  .mobile-nav-toggle[aria-expanded="true"] .line:nth-child(2)
  {
    opacity: 0;
  }
  .mobile-nav-toggle[aria-expanded="true"] .line:nth-child(3)
  {
    transform: translateY(-9px) rotate(-45deg);
  }
  .primary-nav
  {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 3rem;
        position: fixed;
        padding-top: 10vh;
        background-color: transparent;
        height: 100%;
        inset: 0% 0% 0% 50%;
        transform: translateX(100%);
        transition: all 150ms ease-in-out;
  }
  .primary-nav[data-visible="true"]
  {
       transform: translateX(0%);
       z-index: 99;
  }
  nav ul 
  {
    flex-direction: column;
    gap: 4rem;
  }
  .nav-btn
  {
    width: fit-content;
    margin-left: 2rem;
  }
  .container
  {
    margin: auto;
  }
  .three-tabs
  {
    flex-direction: column;
  }
  .row
  {
    width: min(100%, 40rem);
    margin: auto;
  }
  .card 
  {
   justify-content: center;
  }
  .card p
  {
    display: none;
  }
  .about
  {
    flex-direction: column;
    gap: 2rem;
  }
  .mission
  {
    width: 100%;
  }
  .mission .title
  {
    border-radius: 0;
  }
  .about .partners
  {
    flex-direction: row;
  }
  .mission > p
  {
    padding: .5rem;
  }
  .options .title
  {
    width: 100%;
    border-radius: 0;
  }
}